<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">DecisionHelper</div>
    <ul class="mdl-mini-footer__link-list">
      <li>
        <a href="https://www.facebook.com/profile.php?id=100010481281269">Михайло Ящук</a>
      </li>
      <li><a href="http://vk.com/id21595494">Дмитрій Ільчук</a></li>
    </ul>
  </div>
</footer>