<header class="mdl-layout__header mdl-color--transparent">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="mdl-navigation__link" href="">DecisionHelper</a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>

    <!-- Navigation -->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#">oop</a>
    </nav>
  </div>
</header>